<div class="container">
<div class="content">


<div id="latestnews">
<h2>Sistema Comercial</h2>
<ul>
<li>
<div class="imgholder"><a href="http://www.digisat.com.br/ftp/apresentacoes/SISTEMACOMERCIAL.swf" target="_blank" title="Acesse a demostração do sistema"> <%= image_tag "1312590567_catalogo.jpg", :size => "135x135" %></a></div>
<div class="latestnews">
<h2>Sistema de Frente de Caixa completo!</h2>
<p>Os produtos DigiSat são o resultado da combinação de tecnologia e inteligência com o objetivo da otimização de recursos, ampliação de seus negócios, relacionamento e automação de processos empresariais.

A DigiSat fornece ao mercado soluções em software para micro e pequenas empresas, fáceis, funcionais, seguras e modernas.

Isso gera maior competitividade e permitem tranquilidade no gerenciamento de seu negócio.</p>
<p class="readmore"><a href="http://www.digisat.com.br/ftp/apresentacoes/SISTEMACOMERCIAL.swf" target="_blank" title="Acesse a demostração do sistema">Demostração &raquo;</a></p>
</div>
<br class="clear" />
</li>

</ul>
</div>
<!-- tela 1 -->
<div id="topstory">
<h2>Telas do Sistema Comercial</h2>
<ul>
<li><%= image_tag 'tela01.jpg',:size => "190x140" %>           

</li>
<li><%= image_tag 'tela01.jpeg',:size => "190x140" %>


</li>
<li class="last"><%= image_tag 'tela03.jpeg',:size => "190x140" %>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 2 -->
<div id="topstory">

<ul>
<li><%= image_tag 'tela04.jpeg',:size => "190x140" %>           

</li>
<li><%= image_tag 'tela05.jpeg',:size => "190x140" %>

</li>
<li class="last"><%= image_tag 'tela06.jpeg',:size => "190x140" %>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 2 -->
<!-- tela 3 -->
<div id="topstory">

<ul>
<li><%= image_tag 'tela07.jpeg',:size => "190x140" %>           

</li>
<li><%= image_tag 'tela08.jpeg',:size => "190x140" %>

</li>
<li class="last"><%= image_tag 'tela01.jpeg',:size => "190x140" %>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 3 -->
<!--visao geral -->
<div id="latestnews">
<h2>Visão Geral do Sistema</h2>
<ul>
<li>

<div class="latestnewsgeral">

<p>
    Atende requisitos da legislação vigente (PAF-ECF - Ato Cotepe 06/08).<br>
    Emissão de cupom fiscal (ECF).<br>
    Emissão de relatórios gerenciais.<br>
    Controle de estoque com baixa on line.<br>
    Retaguarda com faturamento.<br>
    Contas a receber, compras e inventário.<br>
    Suporta várias impressoras fiscais (lista em nosso site).<br>
    Display torre.<br>
    TEF discado e dedicado.<br>
    Gaveta de dinheiro.<br>
    Teclado reduzido com ou sem visor.<br>
    Uso simultâneo do leitor de barras e teclado.<br>
    Suporte a balanças checkout e etiquetadora.<br>
    Gera Sintegra, mapa resumo e SPED Fiscal.<br>
    Permite apresentar a foto do produto.<br>
    Apresentação de mensagem promocional.<br>
    Mensagem de rodapé padrão.<br>
    Grade de quantidade.<br>
    Consulta de preços na venda.<br>
    Sangria ou suprimento.<br>
    Leitura X e Redução Z.<br>
    Leitura de memória fiscal em papel ou arquivo.<br>
    Inclusão de totalizadores não fiscais.<br>
    Desconto automático com controle de empresas conveniadas.<br>
    Venda a prazo com impressão das condições no cupom.<br>
    Prazo com opção de código de barras.<br>
    Cancelamento por item ou cupom.<br>
    Controle e impressão de cheques e cartões.<br>
    Pagamento de cupom com várias espécies.<br>
    Controle de permissões para operadores de caixa.<br>
    Permite utilizar os Sistemas Administrador ou Gerencial G4 como retaguarda.<br>
    Suporte a skins para customização do sistema.<br>
    Recebimento de parcelas pagas no caixa.<br>
    Identificação do consumidor no cupom.<br>
    Indexador de preços.<br>
    Possibilita utilização de monitores touch-screen.<br>
    CNPJ/CPF do consumidor no cupom.<br>
    Acréscimo ou desconto por item vendido ou no total da venda.<br>
    Possibilita a inclusão de Espécies de recebimentos.<br>
    Recebimento de contas.<br>
    Proteção contra queda de energia.<br>
    NF-e integrada.
</p>
<p class="readmore"><a href="http://www.digisat.com.br/ftp/apresentacoes/SISTEMACOMERCIAL.swf" target="_blank" title="Acesse a demostração do sistema">Demostração &raquo;</a></p>
</div>
<br class="clear" />
</li>

</ul>
</div>
<!--visao geral -->

</div>
<div class="column">

<%= render "layouts/publicidade" %>

</div>
<br class="clear" />
</div>