<div class="container">
<div class="content">


<div id="latestnews">
<h2>Sistema Administrador Geração 4</h2>
<ul>
<li>
<div class="imgholder"><a href="http://www.digisat.com.br/ftp/apresentacoes/ADMINISTRADOR.swf" target="_blank" title="Acesse a demostração do sistema"> <%= image_tag "1312582664_catalogo.jpg", :size => "135x135" %></a></div>
<div class="latestnews">
<h2>Sistema de Administrador Completo!</h2>
<p>Os produtos DigiSat são o resultado da combinação de tecnologia e inteligência com o objetivo da otimização de recursos, ampliação de seus negócios, relacionamento e automação de processos empresariais.

A DigiSat fornece ao mercado soluções em software para micro e pequenas empresas, fáceis, funcionais, seguras e modernas.

Isso gera maior competitividade e permitem tranquilidade no gerenciamento de seu negócio.</p>
<p class="readmore"><a href="http://www.digisat.com.br/ftp/apresentacoes/ADMINISTRADOR.swf" target="_blank" title="Acesse a demostração do sistema">Demostração &raquo;</a></p>
</div>
<br class="clear" />
</li>

</ul>
</div>
<!-- tela 1 -->
<div id="topstory">
<h2>Telas do Sistema Administrador 4</h2>
<ul>
<li>
 <a href="<%= image_path 'a2.jpg' %>" rel="lightbox"  > 
    	<%= image_tag 'a2.jpg',:size => "190x140" %>  
      </a>


</li>
<li> <a href="<%= image_path 'a3.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'a3.jpg',:size => "190x140" %>  
      </a>


</li>
<li class="last"> <a href="<%= image_path 'a4.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'a4.jpg',:size => "190x140" %>  
      </a>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 2 -->
<div id="topstory">

<ul>
<li> <a href="<%= image_path 'a5.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'a5.jpg',:size => "190x140" %>  
      </a>          

</li>
<li> <a href="<%= image_path 'a6.png' %>" rel="lightbox"  > 
        <%= image_tag 'a6.png',:size => "190x140" %>  
      </a>

</li>
<li class="last"> <a href="<%= image_path 'a7.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'a7.jpg',:size => "190x140" %>  
      </a>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 2 -->
<!-- tela 3 -->
<div id="topstory">

<ul>
<li> <a href="<%= image_path 'a8.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'a8.jpg',:size => "190x140" %>  
      </a>       

</li>
<li> <a href="<%= image_path 'a9.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'a9.jpg',:size => "190x140" %>  
      </a>

</li>
<li class="last"> <a href="<%= image_path 'a10.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'a10.jpg',:size => "190x140" %>  
      </a>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 3 -->
<!--visao geral -->
<div id="latestnews">
<h2>Visão Geral do Sistema</h2>
<ul>
<li>

<div class="latestnewsgeral">

<p>
   <h3>MÓDULO COMERCIAL</h3>

        SGBD Firebird 2.0 (segurança e eficiência).<br>
        Atende à legislação vigente.<br>
        PAF-ECF homologado.<br>
        NF-e 2.0, sem custo adicional.<br>
        Permite emissão da NF-e em vários terminais.<br>
        Multi-usuário.<br>
        Estrutura de desenvolvimento robusta.<br>
        Ferramentas de backup automático e programável.<br>
        Acesso aos módulos por senha, com níveis de acesso.<br>
        Gerador de inventário.<br>
        Módulo para gestão de valores (Gestão Empresarial).<br>
        Controle de clientes, fornecedores, estoque e transportadoras (ficha configurável).<br>
        Cálculo automático do preço de venda.<br>
        Bloqueio de venda através do limite de crédito do cliente.<br>
        Controle de vendedores com comissão.<br>
        Módulo para alteração rápida de preços do estoque.<br>
        Pedido de venda e compra.<br>
        Compras e importação do XML do fornecedor.<br>
        Consulta CNPJ no site da Receita Federal.<br>
        Cotação de compras.<br>
        Vendas (nota fiscal de produtos, serviços, venda balcão).<br>
        Envio de e-mail de orçamentos, cotação, pedidos, NF-e e débitos de clientes.<br>
        Atualização automática do preço de venda.<br>
        Preço diferenciado para revenda, consumidor e produtos em promoção.<br>
        Preço mínimo de venda por produto e limite de desconto.<br>
        Controle de produtos em consignação.<br>
        Grade, kit, composição, grupos em níveis, seriais e foto de produtos.<br>
        Leitura por código de barras ou sequencial.<br>
        Rotatividade dos produtos.<br>
        Controle de empresas conveniadas.<br>
        Posição financeira e comercial do cliente e do fornecedor.<br>
        Controle do limite de crédito.<br>
        Gera código de barras do produto.<br>
        Simulador de preço a prazo.<br>
        Tabela de preços.<br>
        Possibilidade de ocultar o preço de custo nos módulos.<br>
        Controle de contatos mantidos com os clientes.<br>
        Possibilidade de bloquear o acesso à orçamentos, pedidos e ordens de serviço já faturadas.<br>
        Consulta a situação de clientes e fornecedores.<br>
        SPED Fiscal, EFD Contribuições e Sintegra.<br>
        Gerador de relatórios.<br>
        Módulo de controle de entrega de mercadorias.<br>
<br>
<h3>MÓDULO  FINANCEIRO</h3>

        Controle de caixa com plano de contas, centro de custos e balancete.<br>
        Contas à pagar e à receber.<br>
        Módulo para recebimento rápido de contas à receber.<br>
        Controle de bancos e lançamentos bancários.<br>
        Boletos bancários impressos em dois modelos ou remessa/retorno.<br>
        Importação de extratos bancários.<br>
        Impressão de cheques, bloquetos, duplicatas, etc...<br>
        Fluxo de caixa futuro (previsão diária).<br>
        Posição dos lançamentos (recebidos, em atraso e a receber).<br>
        Consulta prática de lançamentos à pagar e receber no dia.<br>
        Módulo de controle de cheques recebidos, emitidos e repassados, com consulta de situação.<br>
<br>
<h3>MÓDULO DE  SERVIÇOS</h3>

        Controle de ordens de serviço (DAV-OS).<br>
        Cadastro de objetos e técnicos.<br>
        Cadastro de serviços no estoque (conforme orientação PAF-ECF).<br>
        Ordens de serviço organizadas por categorias e tipos de atendimentos.<br>
        Envio de ordens de serviço por e-mail.<br>
        Posição das ordens de serviço fechadas e em andamento.<br>
        Busca de ordens de serviço através da placa/serial do objeto.<br>

<br>
 <h3>MÓDULO INDÚSTRIA</h3>

        Cadastro de funcionários, com indicação de jornada de trabalho, cargo e setor de atuação.<br>
        Cadastro de lotes de produtos produzidos.<br>
        Produtos produzidos separados em grupos, configuráveis em níveis.<br>
        Desmembramento de produtos.<br>
        Entrada no estoque de produtos produzidos.<br>
        Saída de matéria-prima do estoque.<br>
        Controle de fases de produção, por produto produzido e por matéria-prima.<br>
        Cadastros de custos de produção configurável, por produto.<br>
        Cálculo de custo de produção considerando custos configurados nos produtos, encargos sociais, mão de obra direta e custos indiretos.<br>
        Simulador de custos da produção, por produto.<br>
        Controle de programação de produção da fábrica com simulador.<br>
        Visualização de data e hora previstos para início e término da programação, considerando as datas das programações antecessoras.<br>

</p>
<p class="readmore"><a href="http://www.digisat.com.br/ftp/apresentacoes/ADMINISTRADOR.swf" target="_blank" title="Acesse a demostração do sistema">Demostração &raquo;</a></p>
</div>
<br class="clear" />
</li>

</ul>
</div>
<!--visao geral -->

</div>
<div class="column">

<%= render "layouts/publicidade" %>

</div>
<br class="clear" />
</div>