 <div class="container">
    <div class="content">
      <div id="topstory">
        <h2>Automação Comercial</h2>
        <ul>
          <li><%= image_tag '1312582664_catalogo.jpg',:size => "190x140" %>
            <p>O melhor sistema para controle físico e financeiro para sua empresa.<br>
Atende comércio em geral.<br>
Modulos especificos para: Indústrias, Prestadores de Serviços,  Supermercados<br>
Indústrias: Pequenas indústrias de fabricação em série. Controle de produção e de estoque, com cálculo de mão de obra direta e indireta embutido no custo do produto final, feito diretamente no sistema.<br>

Comércio em geral: Atende a empresas de pequeno porte em todos os ramos de comércio varejista que necessitem de sistema de automação comercial que possua robustez e controles integrados, este é o sistema que você esperava. 
</p>
            <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
          </li>
          <li><%= image_tag '1312590567_catalogo.jpg',:size => "190x140" %>
             <p>Modernidade e eficiência em automação comercial.<br>

Permite a emissão de cupom fiscal e processar todas as funções pertinentes a essa função, adequadas ao que orienta a legislação ER-PAF-ECF.<br>

Pode ser utilizado sozinho ou como PDV dos retaguardas Sistema Administrador G4 ou Sistema Gerencial G4.<br>
Indicado para pequenas e micro empresas de comércio em geral.<br>

Lojas de informática, comércio de tintas, cosmésticos e perfumarias, confecções, calçados, papelaria, bicicletarias, auto elétricas, lojas de cd, livrarias, joalherias, lojas de conveniência, lojas de móveis, mercadinhos, etc.<br></p>
            <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
          </li>
          <li class="last"><%= image_tag '1312589759_catalogo.jpg',:size => "190x140" %>
           <p>O gerente que sua empresa estava esperando.<br>

Atende comércio em geral e modulos especificos, sem custo adicional!

    Restaurantes, Restaurantes com dispositivos móveis (MG4), 
    Prestadores de Serviços, 
    Oficinas (com Ordem de Serviços), 
    Farmácias<br>
Comércio em geral: Lojas de informática, materiais de construção, comércio de tintas, cosmésticos e perfumarias, drogarias, confecções, papelarias, bicicletarias, auto elétricas, lojas de calçados, livrarias, lojas de conveniência, lojas de móveis, óticas, distribuidoras, ferragens, restaurantes, mercados, postos de combustível, prestadoras de serviço em geral, etc.</p>
            <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div>
      <div id="latestnews">
        <h2>Serviços Diversos</h2>
        <ul>
          <li>
            <div class="imgholder"><%= image_tag "manutencaocomputador.png" %></div>
            <div class="latestnews">
              <h2>Criação de Sites</h2>
              <p>Nossos serviços de criação de sites, ajuda sua empresa a se destacar na Internet, com qualidade e profissionalismo, entregamos cada projeto com o que a de melhor em tecnologia, posicionamos seu site nos melhores buscadores do mercado com resultados.</p>
              <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
            </div>
            <br class="clear" />
          </li>
          <li class="last">
            <div class="imgholder"><%= image_tag "criacaosites.png" %></div>
            <div class="latestnews">
              <h2>Manutenção de Computadores</h2>
              <p>Consertamos seu computador pessoal ou de sua empresa, utilizando peças de qualidade e marcas de renome. Além de fazer com que o computador volte a funcionar pela substituição de alguma peça defeituosa, também realizamos a configuração correta do hardwarer e do Sistema Operacional, para melhorar o desempenho de seu equipamento. </p>
              <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
            </div>
            <br class="clear" />
          </li>
        </ul>
      </div>
    </div>
    <div class="column">
     <%= render "layouts/publicidade" %>


    </div>
    <br class="clear" />
  </div>