<div class="container">
<div class="content">


<div id="latestnews">
<h2>Sistema Gerencial Geração 4</h2>
<ul>
<li>
<div class="imgholder"><a href="http://www.digisat.com.br/ftp/apresentacoes/GERENCIAL.swf" target="_blank" title="Acesse a demostração do sistema"> <%= image_tag "1312589759_catalogo.jpg", :size => "135x135" %></a></div>
<div class="latestnews">
<h2>Sistema de Frente de Caixa e Retaguarda Completo!</h2>
<p>O Sistema Gerencial G4 atende a micro e pequena empresa, atuando na retaguarda, serviços e frente de caixa, através do Sistema Comercial G4, embutido no pacote.

Permite realizar os processos de automação comercial de forma integrada e eficiente, agilizando o atendimento aos clientes, e garantindo o gerenciamento completo da empresa.</p>
<p class="readmore"><a href="http://www.digisat.com.br/ftp/apresentacoes/GERENCIAL.swf" target="_blank" title="Acesse a demostração do sistema">Demostração &raquo;</a></p>
</div>
<br class="clear" />
</li>

</ul>
</div>
<!-- tela 1 -->
<div id="topstory">
<h2>Telas do Sistema Gerencial 4</h2>
<ul>
<li>
 <a href="<%= image_path 'g02.jpg' %>" rel="lightbox"  > 
    	<%= image_tag 'g02.jpg',:size => "190x140" %>  
      </a>


</li>
<li> <a href="<%= image_path 'g03.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g03.jpg',:size => "190x140" %>  
      </a>


</li>
<li class="last"> <a href="<%= image_path 'g04.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g04.jpg',:size => "190x140" %>  
      </a>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 2 -->
<div id="topstory">

<ul>
<li> <a href="<%= image_path 'g05.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g05.jpg',:size => "190x140" %>  
      </a>          

</li>
<li> <a href="<%= image_path 'g06.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g06.jpg',:size => "190x140" %>  
      </a>

</li>
<li class="last"> <a href="<%= image_path 'g07.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g07.jpg',:size => "190x140" %>  
      </a>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 2 -->
<!-- tela 3 -->
<div id="topstory">

<ul>
<li> <a href="<%= image_path 'g08.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g08.jpg',:size => "190x140" %>  
      </a>       

</li>
<li> <a href="<%= image_path 'g09.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g09.jpg',:size => "190x140" %>  
      </a>

</li>
<li class="last"> <a href="<%= image_path 'g10.jpg' %>" rel="lightbox"  > 
        <%= image_tag 'g10.jpg',:size => "190x140" %>  
      </a>

</li>
</ul>
<br class="clear" />
</div>
<!-- tela 3 -->
<!--visao geral -->
<div id="latestnews">
<h2>Visão Geral do Sistema</h2>
<ul>
<li>

<div class="latestnewsgeral">

<p>
    <h3>Atende comércio em geral.</h3>

Também atende modulos especificos, sem custo adicional:<br>

    Restaurantes<br>
    Restaurante com dispositivos móveis (MG4)<br>
    Farmácias<br>
    Prestadores de Serviços<br>
    Oficinas (Ordem de Serviços)<br><br>

 

<h3>Facilidades do Sistema Gerencial G4</h3>

- Homologado ER-PAF-ECF.<br>

- Gera NF-e, atendendo a legislação vigente. Em constante atualização.<br>

- Gera NF-e com produtos e serviços (conjugada).<br>

- Atende Restaurantes.<br>

- Restaurante permite gerenciar mesas, gerar relatórios e atender com dispositivos móveis (módulo MG4).<br>

- Permite importar pedidos de vendas, pré vendas (antigas comandas) e ordens de serviços ao ECF.<br>

- Gera Pedidos de Venda e de Compra.<br>

- Gera inventários, exportando-os em vários formatos, inclusive XML.<br>

- Gera SPED Fiscal, EFD Contribuições e Sintegra. Em constante atualização.<br>

- Módulo de Gestão Empresarial, que permite o gerenciamento financeiro da empresa.<br>

- Permite importar o XML do fornecedor no modulo de Compras.<br>

- Controle financeiro, com contas a receber, pagar, livro caixa, bancos, boletos bancários.<br>

- Controles bancários com remessa e retorno OFC e OFX.<br>

- Muito mais...
</p>
<p class="readmore"><a href="http://www.digisat.com.br/ftp/apresentacoes/GERENCIAL.swf" target="_blank" title="Acesse a demostração do sistema">Demostração &raquo;</a></p>
</div>
<br class="clear" />
</li>

</ul>
</div>
<!--visao geral -->

</div>
<div class="column">

<%= render "layouts/publicidade" %>

</div>
<br class="clear" />
</div>