 <div id="featured_slide">
    <div class="featured_box">
      <div class="floater">
        <h2>1. Aliquatjusto quisque nam</h2>
        <p>Orcimagna rhoncus et a nec antesque sed temportor pellus nibh conseque. Accumstsemper wisi pretium feugiat non ut eleifendrerisque at et condisse sce.</p>
      </div>
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
      <%= image_tag "gerencial.jpg" %> </div>
    <div class="featured_box">
      <div class="floater">
        <h2>2. Aliquatjusto quisque nam</h2>
        <p>Duisvest lacus pellus purus temper maurisus et sodalesuada loreet sapiente et. Quissociis magnisl orci dui nulla ut antesque malesuada sed pede et.</p>
      </div>
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
        <%= image_tag "comercial.jpg" %> </div>
    <div class="featured_box">
      <div class="floater">
        <h2>3. Dapiensociis temper donec</h2>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique.</p>
      </div>
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
       <%= image_tag "administrador.jpg" %> </div>
    <div class="featured_box">
      <div class="floater">
        <h2>4. Dapiensociis temper donec</h2>
        <p>Pharetiumurna habitur et enim pellentesque phasellus aliquam nunc quis justo nam. Lobortororci dapibulum ac intesquet ut id sed intesque nec alique.</p>
      </div>
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
       <%= image_tag "banner_notebook.png" %> </div>
    <div class="featured_box">
      <div class="floater">
        <h2>5. Nullain convallis ris elis</h2>
        <p>Nullamcorpervivamus nisl in sed adipit donec feugiat lor vel velit volutpat. Wisihabitur diculisi ac curabitur cursuspendreris sociis sed eger ipsum.</p>
      </div>
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
      <%= image_tag "banner_computador.png" %></div>
  </div>