 <div id="featured_slide">
    <div class="featured_box">
      
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
      <%= image_tag "gerencial.jpg" %> </div>
    <div class="featured_box">
     
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
        <%= image_tag "comercial.jpg" %> </div>
    <div class="featured_box">
     
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
       <%= image_tag "administrador.jpg" %> </div>
    <div class="featured_box">
     
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
       <%= image_tag "banner_notebook.png" %> </div>
    <div class="featured_box">
     
      <p class="readmore"><a href="#">Continue Lendo &raquo;</a></p>
      <%= image_tag "banner_computador.png" %></div>
  </div>